<div class="card shadow mb-4 mt-2">
  <div class="card-header py-3">
    <a href="/admin/booking" class="btn btn-warning btn-sm">
      Back<i class="fas fa-arrow-left btn-sm"> </i>
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 justify-content-center">
            <img
              src="http://localhost:3000/<%= booking.payments.proofPayment %>"
              alt="proofPayment"
              style="display: inline-flex; width: 50%"
            />
          </div>
          <% if(booking.payments.status == 'Proses') {%>
          <div class="col-md-12 justify-content-center">
            <div class="row d-sm-inline-flex align-items-center col-auto">
              <div class="col-auto">
                <form
                  action="/admin/booking/<%= booking.id %>/confirmation?_method=PUT"
                  method="POST"
                >
                  <button
                    type="submit"
                    class="btn btn-success btn-sm btn-block"
                  >
                    Confirm
                    <i class="fas fa-check"></i>
                  </button>
                </form>
              </div>
              <div class="col-auto">
                <form
                  action="/admin/booking/<%= booking.id %>/rejection?_method=PUT"
                  method="POST"
                >
                  <button type="submit" class="btn btn-danger btn-sm btn-block">
                    Reject
                    <i class="fas fa-times"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }%>
        </div>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTableActivity"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Name Member</th>
                <th>Total Price</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= booking.memberId.firstName %> <%=
                  booking.memberId.lastName %>
                </td>
                <td>$ <%= booking.total %></td>
                <td><%= booking.itemId.title %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
